In [1]:
def multiply(*numbers):
    result = 1
    for n in numbers:
        result = result * n
    return result

multiply(4,2,3,-1)

-24

In [5]:
def function(a, b, *args, keyword=True, **kwargs):
    print(a, b)
    print(args)
    print(keyword)
    print(kwargs)
    
function(1,2, 5, 3, 4, param=42)

1 2
(5, 3, 4)
True
{'param': 42}

In [6]:
d = {'param_a': 43, 'param_b' : 44}
function(1, 2, 5, 3, 4, param=42, **d)

1 2
(5, 3, 4)
True
{'param': 42, 'param_a': 43, 'param_b': 44}