In [1]:
number = 1
for func in [lambda x: x - 1, lambda x: x * 2, lambda x: x + 2]:
    number = func(number)
    print(number)

0
0
2

In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.normal(0, 1, (10, 2)))
df.columns = ['column_a', 'column_b']
df.head()

   column_a  column_b
0  0.206014  1.638143
1  0.129337 -0.454057
2  0.841096 -0.267947
3 -0.286354  0.202360
4  0.427696 -0.400832

In [3]:
df.loc[lambda d: d['column_b'] > 0]

   column_a  column_b
0  0.206014  1.638143
3 -0.286354  0.202360
6 -1.464352  0.585253
7  0.361213  0.285813

In [4]:
df[df['column_b'] > 0]

   column_a  column_b
0  0.206014  1.638143
3 -0.286354  0.202360
6 -1.464352  0.585253
7  0.361213  0.285813

In [5]:
a = [1,2,3,4,5,6,7,8]
b = filter(lambda x: x%2==0, a)
list(b)

[2, 4, 6, 8]

In [6]:
from functools import reduce
product_a = reduce(lambda x,y: x*y, a)
product_a

40320